/* goyang_01_pc.css */

/* pc용 */

@media screen and (min-width:1024px) and (max-width:1439px){
#headBox { 
	height:100px; height:9.765625vw;
	min-height:6.25rem;
	padding: 28px 42px; padding:1.75rem 2.625rem;
	padding: 2.734375vw 4.101562vw;
	box-sizing: border-box;
}

	h1{float: left;
		width: 210px; height: 44px;
		background-image: url(../../img/logo.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

.nav_box{float: right;}


/* //headBox===================================================== */

#viewBox {
	height: 1048px; height:102.34375vw;
	min-height:65.5rem; 
}
	.view_area{
		height: 900px; height:87.890625vw;
		min-height:56.25rem; 
		background-image: url(../../img/flower.png);
		background-repeat: no-repeat;
		background-position: 50% 100%;
		background-size: cover;
		opacity: 0.5;
	}
	
	.sub_box{
		height:148px; height: 14.453125vw;
		min-height:9.25rem;
	}

/* //viewBox===================================================== */

#outlineBox {
	height: 1328px; height: 129.6875vw;
	min-height: 83rem;
}

/* //outlineBox================================================== */

#footBox {
	height:608px; height:59.375vw;
	min-height: 38rem;
}

/* //footBox===================================================== */

/* @media end  */
}